@media only screen and (min-width: 60em) {
	main,
	footer {
		max-width: 1024px;
	}
	.navigation {
		display: flex;
		width: 1024px;
		justify-content: center;
		margin: auto;
	}
	nav li {
		display: block;
		justify-content: center;
		margin: auto;
		font-size: 1.125em;
		width: 100%
	}
	.forecast {
		display: inline;
		margin: auto;
	}
	map {
		display: inherit;
	}
	.park {
		float: right;
		margin: 10px;
	}
	.hero {
		font-size: 1.25em;
		padding: 20px 0;
		width: 250px;
	}
	.hero {
		top: 10px;
		left: 30px;
	}
	.city {
		font-size: 2.5em;
	}
}