body {
    padding: 0;
    margin: 0;
}
.pancakeFriday {
    text-align: center;
    font-size: 1.15em;
    padding: 10px 0;
    background-color: rgb(247, 244, 70);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    display:none;
  }
header {
    background-color: #1c1c57;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menus {
    font-size: 1.25em;
}
.cock-logo img {
    height: 60px;
    width: auto;
    margin-right: 8px;
}
.headings {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.w-cock {
    font-family: 'Big Shoulders Display', cursive;
    color: #dbf3f1;
    font-size: 30px;
    margin: -3px 0;
    letter-spacing: 1px;
    font-weight: 800;
}
.look {
    margin: 0;
    font-family: 'Big Shoulders Display', cursive;
    color: #b7eeee;
    padding-right: 5px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}
nav {
    background: rgb(73, 167, 229);
    background: linear-gradient(to bottom, rgba(73, 167, 229, 1) 0%, rgba(20, 22, 147, 1) 100%);
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
nav li a {
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    text-decoration: none;
    color: beige;
    text-align: center;
}
nav li:hover {
    background-color: #93aacc;
    color: #36454f;
    height: 100%;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    overflow: hidden;
}
.navigation li:first-child {
    display: block;
}
.navigation li:first-child a {
    color: white;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
}
.navigation a:hover {
    color: #000;
    background-color: #93aacc;
    font-weight: 700;
}
li .active {
    display: block;
    color: #202633;
    font-weight: 700;
    background-color: rgb(135, 166, 233);
}
.responsive li {
    display: block;
}
.contact {
    padding: 20px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map {
    display: none;
    width: 30%;
    height: auto;
    margin-right: 15%;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 15px gray;
}
.tw-title {
    width: 100%;
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 5px 0;
}
.tw-info>h3 {
    display: block;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 0;
    margin: 0;
    font-weight: 700;
}
.soc-media {
    margin-top: 10px;
    padding: 2px;
    width: 40px;
    height: auto;
}
.read {
    color: blue
}

footer p {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
footer {    
    margin: auto;
    margin-top: 20px;
    color: white;
    background-color: #1c1c57;
    padding: 15px 0;
}
footer #byu-i {
    color: #f5deb3;
    text-decoration: none;



}
.stormHead {
    font-family: "Segoe UI";
    text-align: center;
    padding: 0;
    margin: 20px auto;
    color: darkblue;
    text-shadow: 3px 3px 5px gray;
    font-size: 2.25em;
  }
  .storm-subhead {
    font-family: "Segoe UI";    
    color: darkred;
    text-align: center;
    text-shadow: 1px 2px 5px gray;
    margin-bottom: 0px;
  }
  fieldset  {    
    margin: 25px auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    font-weight: 600;
    max-width: 600px;
  }
 
  form {
      margin: 0 20px;
  }  
  
  form legend {
    color: black;
    font-family: "Segoe UI";
    font-size: 1.25em;
  }
  .userInfo, .priority, .stormInfo, .slider {
    display: block;
    font-family: "Segoe UI";
    padding-top: 1.25rem;
    color: #0b4871;
    
    
  }
  form label.userInfo input, form label.userInfo select, form label.stormInfo input, form label.stormInfo select {    
    display: block;
    border: solid 1px rgb(17, 75, 129);
    border-radius: 5px;
    
    padding: 0 10px;
    width: 95%;
    height: 45px;
    color: #064b79;
    
    
    background-color: #e9f1f3;
}
  form input#sendButton {
    display: block;
    border: none;
    background-color: #096480;
    color: white;
    font-family: 'Segoe UI';
    font-size: 1.25em;
    border-radius: 12px;
    padding: .75rem 1.5rem;
    margin: auto;
    width: 260px;
    justify-content: center;
  }
  .input, textarea {
    display: block;    
    padding: 10px;
    border-radius: 5px;
    border: none;    
    height: 8rem;
    resize: vertical;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
  }
  