body {
    padding: 0;
    margin: 0;
}
.pancakeFriday {
    text-align: center;
    font-size: 1.15em;
    padding: 10px 0;
    background-color: rgb(247, 244, 70);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    display:none;
  }
header {
    background-color: #1c1c57;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menus {
    font-size: 1.25em;
}
.cock-logo {
    height: 60px;
    width: auto;
    margin-right: 8px;
}
.headings {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.wcock {
    font-family: 'Big Shoulders Display', cursive;
    color: #dbf3f1;
    font-size: 30px;
    margin: -3px 0;
    letter-spacing: 1px;
    font-weight: 800;
}
.look {
    margin: 0;
    font-family: 'Big Shoulders Display', cursive;
    color: #b7eeee;
    padding-right: 5px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}
nav {
    background: rgb(73, 167, 229);
    background: linear-gradient(to bottom, rgba(73, 167, 229, 1) 0%, rgba(20, 22, 147, 1) 100%);
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
nav li a {
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    text-decoration: none;
    color: beige;
    text-align: center;
}
nav li:hover {
    background-color: #93aacc;
    color: #36454f;
    height: 100%;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    overflow: hidden;
}
.navigation li:first-child {
    display: block;
}
.navigation li:first-child a {
    color: white;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
}
.navigation a:hover {
    color: #000;
    background-color: #93aacc;
    font-weight: 700;
}
li .active {
    display: block;
    color: #202633;
    font-weight: 800;
    background-color: rgb(135, 166, 233);
}
.responsive li {
    display: block;
}
.gallery {
    display: block;
    text-align: center;
    margin: auto;
}
.gallery img{
    width: 320px;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}
.weatherGal h1{
    text-align: center;
    font-family: Segoe Ui;
    text-shadow: 3px 3px 5px gray;
    color: navy;
}
figcaption {
    font-family: Tahoma;    
    margin: 3px 0px 35px;
    text-align: center;
}





footer p {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
footer {    
    margin: auto;
    margin-top: 20px;
    color: white;
    background-color: #1c1c57;
    padding: 15px 0;
}
footer #byui {
    color: #f5deb3;
    text-decoration: none;
}

img[data-src]  {
    filter: blur(0.4em);
}
  
img {
    filter: blur(0em);
    transition: filter 2s;
}