@media only screen and (min-width: 60em) {	
	main, footer{
		max-width: 1100px;
	}
	.navigation {
		display: flex;
		width: 1100px;
		justify-content: center;
		margin: auto;
	}
	nav li {
		display: block;
		justify-content: center;
		margin: auto;
		font-size: 1.125em;
		width: 180px;
	}
	.mt{
		font-size: 50px;
	}
}


/*.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
h1 {
    text-align: center;
}
.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.hamburger {
    margin: -15px auto 10px;
    width: 30px;
    height: 30px;
    position: relative;
}
.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: white;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}
.bar1 {
    top: 0;
}
.bar2,
.bar3 {
    top: 12px;
}
.bar3 {
    right: 0;
}
.bar4 {
    bottom: 0;
}
.checkbox1:checked+label>.hamburger1>.bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 39px
}
.checkbox1:checked+label>.hamburger1>.bar2 {
    transform: translateX(-50px);
    background-color: transparent;
}
.checkbox1:checked+label>.hamburger1>.bar3 {
    transform: translateX(50px);
    background-color: transparent;
}
.checkbox1:checked+label>.hamburger1>.bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 39px;
}
.checkbox1 {
    position: relative;
}
.sub-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.sub-menu {
    visibility: visible;
    /* shows sub-menu */
   /* opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}*/
