@media only screen and (min-width:65em) {
	main,
	footer {
		max-width: 1100px;
	}
	.navigation {
		display: flex;
		width: 1020px;
		justify-content: center;
		margin: auto;
	}
	nav li {
		display: block;
		justify-content: center;
		margin: auto;
		font-size: 1.125em;
		width: 100%
	}	
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		text-align: center;
		margin: 0;
		padding: 0;
		grid-gap: 35px;
	}
	.gallery img {
		box-shadow: none;
		margin: 0;
	}
	.weatherGal h1{
		font-size: 2.5em;
	}
	.figGal {		
		object-fit: cover;
		overflow: hidden;
		border-radius: 5px;
		margin: 0px;
	}
	.figGal:hover {
		box-shadow: 15px 15px 30px gray;
	}
	figcaption {
		font-family: Tahoma;
		font-size: .9em;
		margin: 0px 0px;
		text-align: center;
		padding: 0 0 5px 0;
	}
	footer {
		margin-top: 30px;
	}
	div.townDetail {
		justify-content: center;
        display: flex;
        flex-direction: row;
        
    }
    section.townDetail-section {
		width: 350px;
        margin: 0 20px 25px 20px;
        display: flex;
        flex-direction: column;      
        
    }
    section.townDetail-section:nth-child(even) {
        flex-direction: column;
    }
    .townDetail-section img {
		width: 300px;
		height: 220px;
		overflow: hidden;
  		object-fit: cover;
	}
	
}
