h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: azure;
    letter-spacing: 2px;

}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #CCE5FF;
    letter-spacing: 1px;


}

h3 {
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFCC;
    letter-spacing: 1.5px;
}

p,
a {
    font-family: 'Nunito Sans', sans-serif;
    color: white;


}

main,
header,
footer {
    max-width: 430px;
    margin: auto;
    text-align: center;
}

header,
footer {
    background: #333333;
}

section {
    background: #4d4d4d;

    line-height: .5em;
}

main {
    display: grid;
    grid-column-gap: 7px;
    grid-template-columns: 1fr;

}

header {
    font-size: 1.5rem;
    margin-bottom: 7px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 10px;
    line-height: 30px;

}

footer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.desc {
    text-align: left;
    color: white;
    padding: 15px;
    line-height: 1.25em;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;

}