h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: white;   
        
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #CCE5FF;
    letter-spacing: 1px;
    


}

h3 {    
    color: bisque;
    letter-spacing: 1.5px;
}

p, a
 {
    font-family: 'Nunito Sans', sans-serif;
    color: beige;
    text-decoration: none;


}

main,
header,
footer {
    max-width: 430px;
    margin: auto;
    text-align: center;
}

header,
footer {
    background: #333333;
}

section {
    background: #4d4d4d;
    line-height: .5em;
}

main {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr;
    margin-top: 7px;

}
    

footer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.desc {
    text-align: left;
    color: white;
    padding: 15px;
    line-height: 1.25em;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;

}
.pod {
    font-size: 60px;
    margin-top: 5px;
    margin: 5px;
    padding-top: 10px;   
    
}

.rey {
    font-size: 40px;
    color: beige; 
    margin:10px;
    padding-bottom: 10px;      
    
}

