body {
    padding: 0;
    margin: 0;
}

.pancakeFriday {
    text-align: center;
    font-size: 1.15em;
    padding: 10px 0;
    background-color: rgb(247, 244, 70);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    display: none;
}

header {
    background-color: #1c1c57;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menus {
    font-size: 1.25em;
}

.cock-logo img {
    height: 60px;
    width: auto;
    margin-right: 8px;
}

.headings {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.w-cock {
    font-family: 'Big Shoulders Display', cursive;
    color: #dbf3f1;
    font-size: 30px;
    margin: -3px 0;
    letter-spacing: 1px;
    font-weight: 800;
}

.look {
    margin: 0;
    font-family: 'Big Shoulders Display', cursive;
    color: #b7eeee;
    padding-right: 5px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

nav {
    background: rgb(73, 167, 229);
    background: linear-gradient(to bottom, rgba(73, 167, 229, 1) 0%, rgba(20, 22, 147, 1) 100%);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li a {
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    text-decoration: none;
    color: beige;
    text-align: center;
}

nav li:hover {
    background-color: #93aacc;
    color: #36454f;
    height: 100%;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.navigation li:first-child {
    display: block;
}

.navigation li:first-child a {
    color: white;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
}

.navigation a:hover {
    color: #000;
    background-color: #93aacc;
    font-weight: 700;
}

li .active {
    display: block;
    color: #202633;
    font-weight: 800;
    background-color: rgb(135, 166, 233);
}

.responsive li {
    display: block;
}

.contact {
    padding: 20px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    display: none;        
    height: 240px;
    width: 350px;
    margin-right: 60px;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 15px gray;
}

.tw-title {
    width: 100%;
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 5px 0;
}

.tw-info>h3 {
    display: block;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 0;
    margin: 0;
    font-weight: 700;
}

.soc-media {
    margin-top: 10px;
    padding: 7px;
    width: 40px;
    height: auto;
}

footer p {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

footer {
    margin: auto;
    margin-top: 20px;
    color: white;
    background-color: #1c1c57;
    padding: 15px 0;
}

footer #byui {
    color: #f5deb3;
    text-decoration: none;
}

img[data-src] {
    filter: blur(0.4em);
}

img {
    filter: blur(0em);
    transition: filter 2s;
}

.snapshot {
    font-family: 'Segoe UI';
    text-align: center;
    color: rgb(8, 14, 87);
    text-shadow: 3px 3px 5px gray;
    font-size: 2.25rem;
}

div.townDetail {
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;

}

.townDetail img {
    max-width: 100%;
}

section.townDetail-section {
    width: 320px;
    color: #00303F;
    align-content: center;
    margin: 20px auto;
    padding: 0 25px 25px;
    background-color: rgb(190, 216, 233);
    box-shadow: 10px 10px 10px rgb(165, 177, 187);
    text-align: center;
}
.townDetail-section h4 {
    width: 280px;
    margin: auto;
    color:navy;
    font-style: italic;		
}
.townDetail-section p {
    font-weight: 600;
}

.townDetail-section img {
    width: 300px;
    height: 220px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgb(106, 126, 122);
}    
