@media only screen and (min-width:65em) {
	main,
	footer {
		max-width: 1024px;
	}
	.navigation {
		display: flex;
		width: 1024px;
		justify-content: center;
		margin: auto;
	}
	nav li {
		display: block;
		justify-content: center;
		margin: auto;
		font-size: 1.125em;
		width: 100%
	}
	
	.forecast {
		display: inline;
		margin: auto;
	}
	.condition, .info, .ws-info {
		padding: 5px;
		font-size: 1.125em;
	}
	.days {
		padding: 6px 40px;
	}
	.icon {
		width: 100px;
	}

	map {
		display: inherit;
	}
	.park {
		float: right;
		margin: 10px;
	}	
	.city {
		font-size: 2.5em;
	}
}