@media only screen and (min-width: 53em) {
	main,
	footer {
		max-width: 800px;
		margin: 10px auto;
	}
	.banner {
		font-size: 1.25em;
	}
	img {
		height: 80px;
		margin-right: 10px;
	}
	.wcock {
		font-size: 40px;
		letter-spacing: 1.25px;
		margin: -3px 0 0 0;
	}
	.look {
		letter-spacing: .75px;
		font-size: 35px;
		margin: 0
	}
	nav li {
		justify-content: center;
		margin: auto;
		width: 45em;
		padding: 0;
		display: block;
	}
	.navigation a {
		font-size: .9em;
	}
	.navigation {
		display: flex;
		min-width: 800px;
		justify-content: center;
		margin: auto;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
	}
	.condition, .info, .ws-info {
		padding: 3px;
		font-size: 1.1em;
	}

	.ms {
		font-size: 25px;
		font-weight: bold;
	}
	.mt {
		font-size: 40px;
	}
	footer {
		min-width: 800px;
	}
	.park {
		float: right;
		margin: 10px;
	}
	.forecast {
		display: inline;
		margin: auto;
	}
	.map {
		display: inherit;
	}
	
	.hero {
		
		padding: 20px;
	}
	.hero {
		top: 30px;
		left: 30px;
	}
	.city {
		font-size: 2.25em;
	}
	.container, .visuallyHidden, .hamburger {
		display: none;
	}
	.event-image {  
		width: 400px;
		height: auto;
	}
	.eventHead {
		font-size: 2.25em;
	}
	.events p {
		font-size: 1.3em;
}