body {
    padding: 0;
    margin: 0;   
   
}
.pancakeFriday {
    text-align: center;
    font-size: 1.15em;
    padding: 10px 0;
    background-color: rgb(247, 244, 70);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    display:none;
  }
header {
    background-color: #1c1c57;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menus {
    font-size: 1.25em;
}
img {
    height: 60px;
    width: auto;
    margin-right: 8px;
}
.headings {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.wcock {
    font-family: 'Big Shoulders Display', cursive;
    color: #dbf3f1;
    font-size: 30px;
    margin: -3px 0;
    letter-spacing: 1px;
    font-weight: 800;
}
.look {
    margin: 0;
    font-family: 'Big Shoulders Display', cursive;
    color: #b7eeee;
    padding-right: 5px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}
nav {
    background: rgb(73, 167, 229);
    background: linear-gradient(to bottom, rgba(73, 167, 229, 1) 0%, rgba(20, 22, 147, 1) 100%);
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
nav li a {
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    text-decoration: none;
    color: beige;
    text-align: center;
}
nav li:hover {
    background-color: #93aacc;
    color: #36454f;
    height: 100%;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    overflow: hidden;
}
.navigation li:first-child {
    display: block;
}
.navigation li:first-child a {
    color: white;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    color: white;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
}
.navigation a:hover {
    color: #000;
    background-color: #93aacc;
    font-weight: 700;
}
li .active {
    display: block;
    color: #202633;
    font-weight: 800;
    background-color: rgb(135, 166, 233);
}
.responsive li {
    display: block;
}
.city {
    font-size: 2em;
    text-align: center;
    margin: 25px auto 35px;    
    font-family: "Segoe UI";    
    letter-spacing: 1px;
    text-shadow: 3px 3px 5px gray;
    color: rgb(6, 34, 126);
}
footer p {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
footer {
    position: relative;
    margin: auto;
    margin-top: 20px;
    color: white;
    background-color: #1c1c57;
    padding: 15px 0;
}
footer #byui {
    color: #f5deb3;
    text-decoration: none;
}
.hero-ws {
    position: relative;
}
.hero {
    position: absolute;
}
.hero {
    top: 20px;
    left: 20px;
}
.preston-img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
    box-shadow: 10px 10px 15px gray;    
}
.hero {
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px;    
    background-color: #040935;
    opacity: .65;
}


.condition {
    text-align: right;
    color: white;
    padding: 2px;
}
.info {
    color:  rgb(170, 241, 28);
    font-weight: 700;
}    

.ws-info th {
    color: skyblue;
    position: relative;
    text-align: center;
    font-size: 1.175em;    
    padding: 0;
    margin: 0;   
}
hr {
    margin: 0;
}

.forecast {
    display: none;
    justify-items: center;
    margin: auto;
}
#forecast-header {
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 2em;
    text-shadow: 3px 3px 5px gray;
}
.forecast-block {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    box-shadow: 8px 8px 10px gray;
    justify-content: space-evenly;
    background-color: #0C3B58;
    text-align: center;
}
.weekday {
    flex: 1 1 100%;
    background-color: rgb(12, 59, 88);
    font-size: 16px;   
    padding: 5px;
}
.days {
    display: block;
    padding: 6px 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 2px;
    background-color: rgb(36, 109, 143);
    color: wheat;
    font-family: 'Roboto', sans-serif;
    
}
.icon {
    width: 80px;
    height: auto;    
    margin: -15px 0px;
    
    
}
.data {
    display: block;
    padding: 5px 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    justify-content: space-evenly;
    
}
.article {
    padding: 20px;
    background-color: #e4f0f3;
    margin: 30px 0;
}
.park {
    display: block;
    width: 60%;
    height: auto;
    box-shadow: 5px 5px 10px gray;
    margin: auto;
    justify-items: center;
    text-align: center;
    justify-content: center;
}
.article-header {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
.article-author {
    margin: 0;
    padding: 10px 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    color: rgba(20, 22, 147, 1);
    font-weight: 700;
    text-align: center;
}
.article p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 5px 0;
    
}
.contact {
    padding: 20px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map {
    display: none;
    height: 240px;
    width: 350px;
    margin-right: 60px;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 15px gray;
}
.tw-title {
    width: 100%;
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 5px 0;
}
.tw-info>h3 {
    display: block;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 0;
    margin: 0;
    font-weight: 700;
}
.soc-media {
    margin-top: 10px;
    padding: 2px;
    width: 40px;
    height: auto;
}
.read {
    color: blue
}

.thanks {
    text-align: center;
    font-family: Segoe UI;
    color: navy;
    text-shadow: 2px 2px 5px gray;
    margin: 40px auto;
}
img[data-src]  {
    filter: blur(0.4em);
}
  
img {
    filter: blur(0em);
    transition: filter 2s;
}
.open {
    color: cyan;
    text-decoration: none;
}
.eventHead {
    margin: 20px;
    font-size: 1.8em;
    text-shadow: 2px 2px 5px gray;
}
.events {
    width: 80%;
    min-width: 300px;
    text-align: center;    
    margin: auto;
    font-family: Segoe UI;
    padding: 10px;    
    background-color: rgb(224, 231, 243);
}
.event-image {    
    position: relative;     
    width: 60%;
    height: auto;
    justify-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 8px 8px 15px gray;
    margin: 10px auto;
    
}
.events p {
    font-size: 1.1em;
    line-height: .7em;
    font-weight: 700;
    color: navy;
}