@media only screen and (min-width: 51em) {
	main,
	footer {
		max-width: 800px;
		margin: 10px auto;
	}
	.banner {
		font-size: 1.25em;
	}
	.cock-logo img {
		height: 80px;
		margin-right: 10px;
	}
	.wcock {
		font-size: 40px;
		letter-spacing: 1.25px;
		margin: -3px 0 0 0;
	}
	.look {
		letter-spacing: .75px;
		font-size: 35px;
		margin: 0
	}
	nav li {
		justify-content: center;
		margin: auto;
		width: 42em;
		padding: 0;
		display: block;
	}
	.navigation a {
		font-size: .9em;
	}
	.navigation {
		display: flex;
		min-width: 800px;
		justify-content: center;
		margin: auto;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
	}
	.map {
		display: inherit;
	}
	.weatherGal h1{
		font-size: 2.25em;
	}
	.container, .visuallyHidden, .hamburger {
		display: none;
	}
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	figcaption {
		margin: 0 -10px;
		padding: 0;
	}
	div.townDetail {
        display: flex;
        flex-direction: column;
    }
    section.townDetail-section {
		width: 650px;
        display: flex;
		flex-direction: row;
		align-items: center;
        justify-content: space-evenly;
		align-items: center;
		padding: 20px
	}
	.townDetail-section h4 {
		width: 280px;		
	}

	.townDetail-section img {
		width: 300px;
		height: 220px;
		overflow: hidden;
		object-fit: cover;
		margin: 0 auto;
		justify-items: center;
    }
    section.townDetail-section:nth-child(even) {
        flex-direction: row-reverse;
    }
}