@media only screen and (min-width: 47em) {
    /*header*/
    .logobar {
        max-width: 960px;
        margin: 0px auto ;
        height: 100px;
        display: block;   
    }
    h1 {
        padding-top: 12px;
    }
    .logohead {
        width: 95px;
    }
    /*navigation**/
    .navigation {
        position: relative; 
        top: 55px;
        float: right;   
    }
    .navigation li:first-child {
        display: none;
        
    }
    .navigation li {
        display: inline-block;
        margin: 0 15px;
        list-style-type: none;
    }
    nav a {
        padding: 0 5px;
        font-size: 1.25em;
    }
    nav {
        background-color:  #444054;
        opacity: 1;                
        float: right;
        width: auto;
        margin: 0;
        text-align: right;            
    }
    /*Main*/
     .titles {        
        font-size: 2.25em;
    }

    #featuretitle {
        font-size: 2.3em;
        flex-flow: nowrap;
        
    }
    #featuredhead {
        font-size: 2.5rem;
    }
    .featureimg {
        width: 400px;        
    }    
    .featleftcol {           
        line-height: 1.75em;
    }
    .contact {
        margin: 40px auto;
        max-width: 800px;
        
    }
    .logofoot {
        margin: 0px;
        display: block;
    }

    .pictures {
        background-color: #223f64;
        padding: 20px 0 10px;
        
    }
    
    .text {
        width: 96%;
    }
    .templename {
        font-size: 1.7em;
        text-align: center;
    }
    .templegallery {
        grid-template-columns: 1fr 1fr;
    }
    /*Reservations*/
    #bookflex {
        flex-direction: row;
        flex-wrap: wrap;        
    }
    .userinput {
        flex: 1 1 auto;
        display: block;
        margin-top: -4px;
    }
    .resbox input,.guestbox input {
    width: 92%;
    height: 40px;
    margin-left: 10px;
}
    /*Services*/
    .picleftcol,
    .picrightcol {
        width: 38%;
        flex: 1 0 15em;
        margin: .5em;
    }
    p.servicessub {
        text-align: center;
    }
    .textleftcol,
    .textrightcol {
        width: 58%;
        flex: 2 0 15em;
    }
    .picrightcol {
        margin-right: 16px;
    }
    #specialimg,
    #amenitiesimg, #receptionimg, #weddingimg {
        padding: 5px;
    }
    .subpic {
        width: 400px;
        margin: 0 auto;
    }
    #amenitieslist, #foodlist {
        padding: 0 20%;
    }
    .missionpage {
        
        padding: 10px;
    }
    #longterm, #longterm h2, .smallcenter {
        text-align: left;
    }
    #longterm h2 {
        font-size: 2.8rem;
        padding: 0 16px;
    }
    #longterm p {
        padding: 0 16px;
    }
    .roomslideshow-container .text {
        width: 94%;
    }
    .receptioncol,.missioncol {
    width: 50%;
    flex: 2 0 15em;
    margin: .5em;
    justify-items: center;
}
    /*Contact*/
    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .column {
        width: 48%;
        flex: 1 0 15em;
        margin: 1.5em;
    }
    .leftcol,
    .rightcol {
        width: 48%;
        flex: 1 0 15em;
        margin: 1.5em;
    }
    /*Footer*/
    footer {
        margin: 20px auto;
        font-size: 1em;
    }
}